<!DOCTYPE html>

<html>
    <head>

        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:; script-src 'self' https://cdn.jsdelivr.net/npm/vue 'unsafe-eval';">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Redbutton Alert</title>
    </head>
    <body>

       <div class="appCore">

         <div class="appHome">

            <div class="menuContainer">

              <img src="img/redbuttonLogo.svg" alt="" class="appLogo">
              <p><span>R</span>ed <span>B</span>utton <span>A</span>lert</p>
              <div class="bmenuCont" @click="chgMenuStatus"><img src="img/bmenu.svg" alt="" class="bMenu"></div>

            </div>

            <div class="core" @click="closeMenu">

               <div class="items" @click="callTxtForm">

                  <div class="imgItemsCont"><img src="img/text.svg" alt=""></div>

               </div>


               <div class="items">

                 <div class="sosCont"><img src="img/redbuttonLogo.svg" alt="" class="sos" @click.stop="callSosConfirm"></div>
                 <div class="imgItemsCont"><img src="img/camera.svg" alt="" @click="cameraSos"></div>

               </div>


               <div class="items" @click="isUserLogged">

                  <div class="imgItemsCont"><img src="img/video.svg" alt=""></div>

               </div>


            </div>

         </div>

         <div class="moreMenu">

            <div class="moreMenuItems">

               <img src="img/user.svg" alt="">
               <!--<p v-if="!userStatus">{{ username }}</p>-->
               <p v-if="username != null">{{ username }}</p>
               <p v-else>Gebruikersnaam</p>

            </div>


            <div class="moreMenuItems">

               <img src="img/info.svg" alt="">
               <p>Info</p>

            </div>


            <div class="moreMenuItems">

               <img src="img/new.svg" alt="">
               <p>Nieuwigheid</p>

            </div>


            <div class="moreMenuItems" v-if="userIsAdmin">

               <img src="img/users.svg" alt="">
               <p>Gebruikers</p>

            </div>


            <div class="moreMenuItems">

               <img src="img/settings.svg" alt="">
               <p>Instellingen</p>

            </div>


            <div class="moreMenuItems" @click="logOut">

               <img src="img/logout.svg" alt="">
               <p>Uitlogen</p>

            </div>

         </div>

         <form class="signInUp" action="" method="">

           <div class="imgs">

               <img src="img/user.svg" alt="">
               <img src="img/close.svg" alt="" class="close" @click="closeForm">

           </div>
           <p id="formNotif">Vul je inlog gegevens in...</p>

           <input type="text" name="" placeholder="Gebruikersnaam" id="username">
           <input type="password" name="" placeholder="Wachtwoord" id="password">
           <input type="submit" name="" value="Login" class="submits" @click.prevent="login">
           <input type="submit" name="" value="Registreren" class="submits" @click.prevent="registration">

         </form>


         <div class="msgsCont">

            <img src="img/alert.svg" alt="">
            <p class="msgsContent"></p>

         </div>


         <div class="sosMsg">

            <h2>SOS vesturen?</h2>
            <div class="sosoConfirm">

              <button class="yes" @click="sendSos">Ja</button>
              <button class="no" @click="hideSosConfirm">Nee</button>

            </div>

         </div>



         <div class="helpsCont">



         </div>


         <div class="cameraSosCont">

            <div class="cameraImgCont">

               <img src="" alt="" class="picture">

            </div>

            <form class="" action="" method="">

               <textarea name="name" rows="8" cols="80" placeholder="Beschrijf uw probleem..."></textarea>
               <input type="submit" name="" value="Vesturen">

            </form>

         </div>


         <form action="" class="textForm">

           <div class="textFormHeader">

              <p class="textFormNotif">Stel jouw vraag...</p>
              <img src="img/close.svg" alt="" @click="closeTxtForm">

           </div>
           <textarea name="name" rows="8" cols="80" placeholder="stel jouw vraag..." class="sosTextContent"></textarea>
           <input type="submit" value="Sturen" @click.prevent="sendTxtSos">

         </form>


         <div class="appLauchScreen">

            <div class="lauchBody">

              <img src="img/redbuttonLogo.svg" alt="" class="logo">

            </div>

            <div class="lauchFoot">


               <p>Red</p>
               <p>Button</p>
               <p>Alert</p>
               <img src="img/alert.svg" alt="" class="alertIcon">

            </div>

         </div>

       </div>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="application/javascript" src="libs/MongOGX/collection.mongogx.js"></script>
        <script type="application/javascript" src="libs/MongOGX/database.mongogx.js"></script>
        <script type="application/javascript" src="libs/MongOGX/core.mongogx.js"></script>
        <script type="application/javascript" src="libs/greensock/src/minified/TimelineLite.min.js"></script>
        <script type="application/javascript" src="libs/greensock/src/minified/TimelineMax.min.js"></script>
        <script type="application/javascript" src="libs/greensock/src/minified/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/animations.js"></script>
        <script type="text/javascript" src="js/appLogics.js"></script>
        <script type="text/javascript" src="js/collections.js"></script>
        <script type="text/javascript" src="js/ajaxReq.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

    </body>
</html>
